

.main {
    background-image: url('../assets/imgs/bg.svg');
    background-position: top;
    background-color: #faf6ff;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    font-family: 'Inter';
}