.pagination {
    width: 200px;
    margin: auto;
      span {
        padding: 5px;
        color: #42307D;
      }  
    button {
        cursor: pointer;
        padding: 7px 10px;
        border: none;
        border-radius: 5px;
        background-color: #8585da;
        color: #fff;
        margin: 20px 0px;

    }
}